/* ---------------------------- General Site CSS ------------------------ */
body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #530e04;
    background: url("../images/covid_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222222;
    box-shadow: 1px 1px 1px black;
    padding: 5px;
}

h1, h2, h3 {
    color: #ff0000;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
}

#content {
    padding: 0 2em ;
}

/* --------------------------- NAV -------------------------------- */
#nav {
    overflow: hidden;
    background-color: #333;
    margin: -5px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    top: 0;
}
#nav a {
    float: left;
    font-size: 16px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
#nav a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
}
.dropdown-content {
    position: absolute;
    z-index: 1;
    width: 0px;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
    height: 47px;
    padding-left: 0px;
    display: inline;
}
.dropdown:hover .dropdown-content {
    width: 400px; 
    visibility: visible;
}

/* ---------------------- Body Content CSS ----------------------- */
#content p, #content h2 {
    text-align: center;
}

/* ----- Contact.html css ----- */
#contactBody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.personInfo {
    width: 33%;
    min-width: 200px;
    text-align: center;
}
.personInfo ul {
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}
.personInfo a:link {
    color: white;
}
.personInfo a:hover {
    text-decoration: none;
}

/* ----- Calc.html css ------ */
#calc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
#formButton {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}
.formGroup {
    display: flex;
    padding: 5px;
    width: 60%;
    justify-content: space-around;
}
.formGroup > * {
    width: 45%;
}

/* ------ safety.html css -------- */
#safety {
    width: 50%;
}

/* ------ country pages css ------- */
#covidBox {
    display: flex;
    background-color: red;
}
#covidBox > div {
    background-color: #000000;
    width: 33%;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}
#covidBox div h4 {
    margin-top: 5px;
}

/* ----------------------------- Footer -------------------------- */
footer {
    margin-top: 20px;
    text-align: center;
}