body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #929292;
}
#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px black;
    padding: 5px;
}
h1 {
    text-align: center;
}